!!! 5
html(lang='en')
	head
		title #{siteName}
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		link(href='/stylesheets/style.css', rel='stylesheet')
	- if (typeof(bodyClasses) == 'undefined')
		- bodyClasses = ""
	body(class=bodyClasses)
		#header
			h1 #{siteName}
		#wrapper
			#content!= body
			#footer