h1 All Searches

#pagination
	- for (var i=1; i<=pageCount; i++)
		a(href='/searches/#{i}') #{i}

ul
	each search in searches
		li
			a(href='/search/#{search.id}') #{search.query}
			&nbsp; \(#{search.searches.length}\)
